/**************************************************************index*********************************/

/* General styles*/
* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    margin-left: 0;
    margin-right: 0;
}
a {
    text-decoration: none;
}
body {
    overflow-x: hidden;
    background-image: linear-gradient(#4a006f, #470a77, #45147e, #421e86, #3f288d, #3d3195, #3a3b9c);
}

/*Navbar*/
.navbar {
    padding-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    font-size: x-large;
    padding: 0px;
    margin: 0px;
    font-weight: 550;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
#logo {
    height: 100%;
}
.logo {
    width: 10%;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.navbar_sections {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: nowrap;
    column-gap: 40px;
}
a span:hover {
    color: #00b4d8;
}
a span:active {
    color: #0096c7;
}
.navbar_sections span {
    opacity: 1;
    padding: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: center;
}
#home {
    background-color: #3c096c;
    border-radius: 20px;
}
/* Jumbotron*/
.jumbotron {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 150px 0px;
}
.visible {
    transform: translateX(0) !important;
    transition: all 0.5s;
    opacity: 1 !important;
}
#jumbotron {
    height: 100%;
    margin-right: 50px;
    opacity: 0;
    transform: translateX(-100%);
}
#title {
    color: #fff;
    font-size: 6em;
    width: 80%;
    text-align: justify;
    font-weight: 100;
}
#jumbo_description {
    color: white;
    font-size: x-large;
    opacity: 0;
    transform: translateX(100%);
}
/*bloc 1*/

.bloc1 {
    margin-top: 40px;
    color: white;
    font-size: x-large;
    margin-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    background-image: repeating-linear-gradient(#03071e, #370617, #6a040f, #9d0208, #d00000, #dc2f02);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    overflow: hidden;
    transform: translateY(-100%);
    opacity: 0;
    background-position: fixed;
}
